.idea
.vscode
build/
Testing/
.cmake/

CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
tests-*.cmake
levelz-test-*
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

*.o
*.a
*.so
*.dylib
*.dll